body {
}
#img1{
	height:520px!important
}
.navbar {
	background-color: #718286!important;
}
.footer {
	background-color: #718286 !important;
}
.card-content {
	height: 135px !important;
}
#indiaByramid{
	color:#cb26b8 !important;
}
