body {
}
.navbar {
	background-color: #9f0c0c !important;
}
.footer {
	background-color: #9f0c0c !important;
}
#logo{
	height:500px!important
}
.card-content {
	height: 150px !important;
}